# Local env / secrets
keys.env
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
.venv/
venv/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Output folders
output/
